
venv/
env/
.venv/
ENV/


__pycache__/
*.pyc
*.pyo
*.pyd
.python/


data/
models/
chroma_db/
spark_nlp_models/


logs/
*.log

uploads/
temp/

.env

tree.txt
project_structure.txt
X.png
PROGRESSDOC.md
